@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

main{
    width: 80%;
}

h1{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 60px;
}

.opacityToZero{
   opacity: 0;
}

.opacityToOne{
    transition: 1.5s;
    opacity: 1;
}

.whiteHeaderUnderlineJS{
    color: white;
}

.blackHeaderUnderlineJS{
    color: black;
}

.sectionForScrollingEffect{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.secondToLastContentDiv{
    border-top: 1px solid white;
    margin-top: 30px;
}

.contentDiv{
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contentText{
    display: flex;
    width: 50%;
    padding: 20px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    flex-direction: column;

}

p, table{
    font-family: 'Raleway', sans-serif;
}

.contentText p{
    padding: 10px;
    margin: 0px;
}

.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}

.contentPic{
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.imgContent{
    width: 100%;
    max-width: 500px;
    height: auto;
    box-shadow: 0 0 30px 5px rgba(0, 115, 107, 0.9);
    
}


body{
    margin: 0px;
    width: 100%;
    background: linear-gradient(to right, #00736b 0%, black 5%, black 5%, black 95%, black 95%, #00736b 100%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


header{
    height: auto;
    width: 100%;
    position: relative;
    top: 0px;
    transition: top .4s ease;
    
}

.headerNadpis{
    color: white;
    background-color: black;
    width: 100%;
    height: 99px;
    border-bottom: 1px solid white;
    font-family: 'Pixelify Sans', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerNahoru{
    top: 0px;
}

/*navigace*/

nav{
    display: flex;
    height: 100px;
    width: 100%;
    box-shadow: 0px 15px 12px 2px rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    
    
}
nav a{
    flex-grow: 1;
    height: 100%;
    width: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: black; 
    color: white;
    font-family: 'Orbitron', sans-serif;;
    
}

nav a:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
    
}

nav a:not(:hover){
    background-color: black;
    color: white;
    transition: 0.4s;
}


nav a div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Obecné stylování*/

footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: black;
    border: 1px solid white;
    color: white;
    box-shadow: 0px -10px 12px 2px rgba(255, 255, 255, 0.8);
    margin-top: 50px;
    display: flex;
    

}

.footerDiv{
    display: flex;
    flex-grow: 1;
    padding: 30px;
    font-family: 'Raleway', sans-serif;
}

.footerDiv1{
    border-right: 1px solid white;
    justify-content: flex-start;
}
.footerDiv2{
    justify-content: center;
}
.footerDiv3{
    border-left: 1px solid white;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: white;
}

.content{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
    position: relative;
    top: 0px;
    width: 100%;
    transition: top .4s ease;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.contentNahoru{
    top: 0px;
}

.menuIconDiv{
    height: auto;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.menuIcon{
    height: auto;
    width: 50px;
    margin-top: 20px;
    
}

.hamburgerPart{
    height: 5px;
    background-color: white;
    width: 100%;
    margin-top: 10px;
}

.menuEffectArrows{
    color: black;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-decoration: underline;
}

/*Nastylování listu*/

a li h4{
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    
}

.contentText ul{
    padding-inline-start: 0px;
    
}
a li{
    list-style-type: none;
    margin-bottom: 30px;
}

a li:hover{
    border-left: 1px solid white;
    border-right: 1px solid white;
    
}

.listHelp li{
    padding-right: 2em;
    position: relative;
    list-style-type: none;

    
}

.listHelp li::before{
    content: "•";
    position: absolute;
    right: 0;
}

/*Tabulka*/
.contentTable{
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 30px 5px rgba(0, 115, 107, 0.9);
}

th{
    border: black 1px solid;
}
table, td, tr{
    border: 1px solid white;

}
table{
    border-collapse: collapse;
    width: 100%;

}
td, th{
    padding: 15px;
}

th{
    background-color: white;
    color: black;
}

/*Formulář*/
.contentForm{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    background-color: white;
    color: black;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0 30px 5px rgba(0, 115, 107, 0.9);
    border-radius: 30px;
}

label{
    font-size: 20px;
    margin: 15px;
}

.formTextarea{
    width: 90%;
    min-width: 50%;
    max-width: 70%;
    min-height: 100px;
    max-height: 250px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    overflow-y: scroll;
    border: 2px solid red;
}

.formTextarea:focus{
    border: 2px solid green;
    outline: none;
}

.formTextarea:valid{
    border: 2px solid green;
}

.formTextarea:invalid{
    border: 2px solid red;
}

.inputText{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    width: 70%;
    margin: 10px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid red;
}

.inputText:valid{
    border-bottom: 2px solid green;
}

.inputText:invalid{
    border-bottom: 2px solid red;
}

.inputText:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid green;
}

.inputSubmit{
    background-color: white;
    border-radius: 0px;
    color: black;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    border: 1px solid black;
    position: relative;
}
.submitBtnDiv{
    width: 50%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputSubmit:hover{
    background-color: black;
    border: 25px black solid;
    transition: .8s;
}

.inputSubmit:not(:hover){
    background-color: white;
    border: 1px solid black;
    transition: .8s;
}

.popUpEffectYes, .popUpEffectNo{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: white;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
}


form:invalid .inputSubmit:hover + .popUpEffectNo{
    opacity: 1;
}

form:valid .inputSubmit:hover + .popUpEffectNo + .popUpEffectYes{
    opacity: 1;
}

/*Back to top button*/
.backToTopBtnParent{
    position: relative;
    width: 250px;
    height: 60px;
    margin-top: 50px;
    overflow: hidden;
    border: 1px solid white;
}

.backToTopBtnDiv{
    width: 250px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

.backToTopBtn{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
}

.backToTopBtnSpan{
    width: 250px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
}

.topArrowSpan{
    position:absolute;
    color: white;
    background-color: black;
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    
}

.backToTopBtnParent:hover > .backToTopBtnDiv{
    top: -60px;
    transition: .5s;
}

.backToTopBtnParent:hover > .backToTopBtnSpan{
    top: 0px;
    transition: .5s;
}

.backToTopBtnParent:not(:hover) > .backToTopBtnDiv{
    top: 0px;
    transition: .5s;
}

.backToTopBtnParent:not(:hover) > .backToTopBtnSpan{
    top: 60px;
    transition: .5s;
}


#contentDivOtherPages{
    flex-direction: column;
    width: 100%;
}
#contentTextOtherPages{
    width: 100%;
    text-align: center;
}
#contentPicOtherPages{
    width: 100%;
}

.mainHeaderOtherPages:hover > .contentOtherPagesArrow{
    padding:10px;
    transition: .4s;
}

.mainHeaderOtherPages:not(:hover) > .contentOtherPagesArrow{
    padding:0px;
    transition: .4s;
}

/*Gallery*/
.galleryDiv{
    position: relative;
    width: 640px;
    height: 435px;
    box-shadow: 0 0 30px 5px rgba(0, 115, 107, 0.9);
    overflow: hidden;
    margin-bottom: 20px;
  
}

.photoPosition1{
    right: -2245px;
}

.photoPosition2{
    right: -1605px;
}

.photoPosition3{
    right: -960px;
}

.photoPosition4{
    right: -315px;
}

.gallery{
    width: 3200px;
    position: absolute;
    height: 435px;
    transition: .5s;
   
}

.leftGalleryArrow{
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 45%;
    padding: 15px 20px;
    position: absolute;
    z-index: 3;
    left: -100px;
    top: 270px;
    font-size: xx-large;
    cursor: pointer;
    user-select: none;
    font-family: 'Raleway', sans-serif;

}
.rightGalleryArrow{
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 45%;
    padding: 15px 20px;
    position: absolute;
    z-index: 3;
    right: -100px;
    top: 270px;
    font-size: xx-large;
    cursor: pointer;
    user-select: none;
    font-family: 'Raleway', sans-serif;

}

.arrowButtons{
    position: relative;
    width: 640px;
    height: 100px;
    
}

.galleryArrows:hover{
    color: black;
    background-color: white;
    transition: .5s;
}

.galleryArrows:not(:hover){
    color: white;
    background-color: black;
    transition: .5s;
}

.gallery img{
    width: 640px;
    height: 435px;
}

@media screen and (max-width: 1000px){
    .gallery img{
        width: 400px;
        height: 200px;
    }

    .gallery{
        width: 2000px;
        position: absolute;
        height: 200px;
       
    }
    .galleryDiv{
        width: 400px;
        height: 200px;
      
    }

    .arrowButtons{
        position: relative;
        width: 400px;
        height: 100px;
        
    }

    .leftGalleryArrow{
        top: 0px;
        left: 20px;
        
    
    }
    .rightGalleryArrow{
        top: 0px;
        right: 20px;
        
    }

    .photoPosition1{
        left: -194px;
    }
    
    .photoPosition2{
        left: -598px;
    }
    
    .photoPosition3{
        left: -1002px;
    }
    
    .photoPosition4{
        left: -1406px;
    }
}

/*MEDIA QUERIES*/

@media screen and (min-width: 1250px) { 
    .menuIconDiv{
        display: none;
    }
    
    
}

@media screen and (max-width: 1249px) and (min-width: 700px) { 
    .headerNahoru{
        top: -200px;
    }
    .contentNahoru{
        top: -200px;
    }
    
}

@media screen and (max-width: 699px) { 
    nav{
        flex-direction: column;
        height: 400px;
        background-color: white;
    }

    nav a{
        border: none;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .headerNahoru{
        top: -500px;
    }
    .contentNahoru{
        top: -500px;
    }

    h1{
        font-size: 40px;
    }
    .contentDiv{
        flex-direction: column;
    }

    .contentText{
        text-align: center;
    }
    
}



@media print{
    header{
        display: none;
    }

    .opacityToZero{
        opacity: initial;
    }

    .imgContent{
        box-shadow: initial;
    }

    #sekce1{
        display: none;
    }
    .contentTable{
        box-shadow: none;
    }

    .formSection{
        display: none;
    }

    .galleryDiv{
        display: none;
    }

    .arrowButtons{
        display: none;
    }
}
